{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
